@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.root,
#root,
#docs-root {
    --primary-color: #043475;
    --p-hover-color: #074a8a;
    --p-bold-color: #002747;
    --p-light-color: #003475;
    --p-lighter-color: #1769bb;
    --secondary-color: #22AFE0;
    --third-color: #48B091;
    --white: #FFFF;
    --classify-negative-color: #EB615C;
    --classify-neutral-color: #c0bfbb;
    --classify-positive-color: #48B091;
}

html {
    font-family: 'Nunito', sans-serif;
    scroll-behavior: smooth;
}

#flipBox section {
    gap: 10px;
}

.multilingual-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    margin-left: -20px;
}

.positive-icon {
    margin-top: 18px;
    filter: invert(69%) sepia(4%) saturate(4783%) hue-rotate(111deg) brightness(89%) contrast(79%);
}

.neutral-icon {
    margin-top: 18px;
    filter: invert(71%) sepia(5%) saturate(29%) hue-rotate(38deg) brightness(97%) contrast(77%);
}

.negative-icon {
    margin-top: 18px;
    filter: invert(53%) sepia(48%) saturate(4512%) hue-rotate(328deg) brightness(106%) contrast(85%);
}

.white-image {
    filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(15deg) brightness(102%) contrast(101%);
}

.result-classify{
    margin-left: 15px;
}

.feed-icons{
    margin-top: -80px;
}

.feed-title{
    margin-bottom: 20px;
}

.arara-azul-feed{
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.arara-vermelha-feed{
    position: absolute;
    top: 20px;
    right: 0px;
}
